$one-rem-in-px: 16px;
$stream-box-width: 20rem;
$stream-box-height: 20rem;
$stream-vtuber-name-height: 2rem;
$stream-title-font-size: 1rem;
$stream-title-lines: 3;

$thumbnail-height: (9 / 16) * $stream-box-width;

$panel-color: #2c3e50;
