<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="condensed" value="${date:format=MM/dd HH\:mm\:ss.ff} [${pad:padding=-5:fixedLength=true:${lowercase:${level}}}] ${message}${onexception:inner=${newline}${exception:format=ShortType,Message:separator=\: }}"/>
    <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}${onexception:inner= | ${exception:format=toString}}"/>
    <targets>
        <target name="logfile" xsi:type="File" fileName="vtuber.zone.log" layout="${verbose}" />
        <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${condensed}">
            <highlight-word regex="^.{18}" foregroundColor="Gray" compileRegex="true" />
            <highlight-word regex="\[fatal\]" foregroundColor="White" backgroundColor="Red" compileRegex="true" />
            <highlight-word regex="\[error\]" foregroundColor="Red" compileRegex="true" />
            <highlight-word regex="\[warn \]" foregroundColor="Yellow" compileRegex="true" />
            <highlight-word regex="\[info \]" foregroundColor="Blue" compileRegex="true" />
            <highlight-word regex="\[debug\]" foregroundColor="Gray" compileRegex="true" />
            <highlight-word regex="\[trace\]" foregroundColor="Green" compileRegex="true" />
            <highlight-word regex="[\[\]]" foregroundColor="White" compileRegex="true" />
            <highlight-word regex="\w*Exception:.*$" foregroundColor="Red" compileRegex="true" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>
